<h4>This is a demo query</h4>

<div class="card" ng-repeat="row in $ctrl.items">
    <!-- {{$ctrl.items}} -->
    <div class="item item-divider">
        Item: {{$index+1}}
    </div>
    <div class="item item-text-wrap">
        <ul class="list">
            <li class="item">
                Main ID: {{row.main_fisher_id__c}}
            </li>
            <li class="item">
                Trip Date: {{row.trip_date__c}}
            </li>
            <li class="item">
                Landing Site: {{row.landing_site__c}}
            </li>
        </ul>
    </div>
</div>
