<div id="mailer-address-input">
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">Address to email data to?:</span>
      <input type="text" ng-model="$ctrl.email" name="email" ng-init="$ctrl.getemail()"/>
    </ion-item>
    <button  class="button button-dark" ng-click="$ctrl.send()">Send</button>
    <p ng-if="$ctrl.requestStatus > 0">Your report will be sent to the email provided shortly</p>
    <p ng-if="$ctrl.requestStatus < 0">There was an error generating and sending your report</p>
</div>
