/* Empty. Add your own CSS if you like */
.buttonNoBorder {
    border: none;
}

.expense {
    background-color: #ffaaaa;
}

.income {
    background-color: #b5ffad;
}

.reportSpeciesTitle {
    font-size: 18pt;
}
